## <font color='red'>0.0. Imports</font>

### 0.1. Libs

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

from matplotlib import pyplot as plt

### 0.2. Load data

In [9]:
# Load the dataset
df_raw = pd.read_csv('../data/Ecommerce.csv', sep=',', encoding='latin1')

# drop the 'Unnamed: 8' column
df_raw.drop(columns=['Unnamed: 8'], inplace=True)

In [10]:
df_raw.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [7]:
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Unnamed: 8
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN

## <font color='red'>1.0. Descrição dos Dados</font>

### 1.1. Renomeando Colunas

In [13]:
df_raw.columns = new_cols = ['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date', 'unit_price', 'customer_id', 'country']
df_raw.sample()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
105341,545220,17091J,VANILLA INCENSE IN TIN,6,27-Feb-17,1.25,14620.0,United Kingdom

### 1.2. Dimensão dos Dados

### 1.3. Tipo dos Dados

### 1.4. Verificando dados nulos

### 1.5. Substituindo dados nulos

### 1.6. Alterando tipo os dados

### 1.7. Estatística Descritiva

# <font color='red'>02. Feature Engineering</font>

# <font color='red'>3.0. Filtragem de Variáveis</font>

# <font color='red'>4.0. EDA ( Exploratory Data Analysis )</font>

# <font color='red'>5.0. Preparação dos Dados</font>

# <font color='red'>6.0. Seleção de Features</font>

# <font color='red'>7.0. Hypermarameter Fine-Tunning</font>

# <font color='red'>8.0. Model Training</font>

# <font color='red'>9.0. Cluster Analysis</font>

# <font color='red'>10.0. Deploy To Production</font>